body{
	-webkit-user-select: none;
	background-color: #000000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#feedback {
	color: white;
	font-family: sans-serif;
	text-align: center;
	margin-top: 50%;
}